/*先把整個頁面的邊距取消掉，然後背景色為灰色*/
body{
  margin: 0px;
  background: #E1E1E1;
}
/*設定背景顏色、高度和對齊方式，上方的區塊和下方的內容會有一點距離，所以開外邊界推開*/
#topBlock{
  background: #4A90E2;
  height: 75px;
  text-align: center;
  margin-bottom: 24px;
}

.bookMark{
  background: #4A90E2;    /*背景顏色*/
  color: #00408B;         /*字體顏色*/
  text-align: center;     /*置中*/
  font-size: 24px;        /*字體大小*/
  height: 75px;           /*按鈕高度*/
  width: 220px;           /*按鈕寬度*/
  border:none;            /*取消框線*/
}

.select_bookMark{
  color: #ffffff;
  font-weight: 700;
  height: 65px;                         /*改變高度因為要扣底線的粗5px不然會凸出來*/
  border-bottom:solid 10px #00408B;      /*設定下底線的樣式、粗細、顏色*/
}

.inputName{
  padding-left: 50px;
  padding-top: 50px;
}


.InputTasksForm{
  width: 620px;
  margin: 0 auto;
}

.InputTask{
  height: 485px;
  background: #F2F2F2;
  text-align: left;
}

/*輸入框的縮排比文字還要裡面*/
.inputForm{
  padding-left: 75px;
}
/*輸入框去除框線和調整字體大小*/
.inputStyle{
  border:none;
  font-size: 16px;
}
/*日期匡要調整長寬，看起來比較順眼*/
.inputDateTime{
  height: 35px;
  width: 162px;
}


/*共同樣式，長、寬、字體大小、對齊、取消框線*/
.addButton{
  width: 310px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border:none;

}
/*分別設定按鈕顏色及字的顏色*/
.saveButton{
  background: #4A90E2;
  color: #ffffff;
}
.cancelButton{
  background: #fffffd;
  color: rgb(190, 130, 137);
}

.inputTaskTitle{
  width: 620px;
  height: 75px;
  background: #F2F2F2;
  margin:0px auto;
  text-align: left;
  border-bottom:solid 10px #C8C8C8 ;
}

.taskTitle{
  background: #F2F2F2;
  border:none;
  height: 28px;
  width: 380px;
  font-size: 24px;
  margin: 25px;
}
/*要把勾選框變兩倍大，還要距離左邊界一些距離*/
.taskChk{
  margin-left: 20px;
  zoom: 2;
}

.icon{
  margin-left: 20px;
}

.icon_edit{
  color: #4A90E2;
}


#addTask{
  width: 620px;
  height: 65px;
  font-size: 24px;
  color: #C8C8C8;
  border: 2px solid #C8C8C8;
  border-radius: 5px;
}